@{
    ViewBag.Title = "Home Page";
}
<section class="content-header">
    <br />
    <br />
    <center>
        <h1>BIENVENIDO</h1>
        <p class="lead">Sistema de Inventario - Arquitectura de Sistemas II</p>
        <center><img height="400px" src="~/assets/images/foto.jpg" /></center>
    </center>

    <div class="row">
        <div class="col-md-12">
            <br /><br />
            <center>
                <h3>La frase del dia</h3>
                <p>
                    Yo solo se que no se nada. <br />-Socrates
                </p>
            </center>
        </div>
    </div>

</section>